<nav class="navbar navbar-inverse">
    
        <a class="navbar-brand" [routerLink]="['/email']">E-MAIL</a>
        <a class="navbar-brand" [routerLink]="['/message']">MESSAGES</a>
        
        <a class="navbar-brand" >   </a>
        <a class="navbar-brand" >   </a>
        <a class="navbar-brand" >   </a>
        <a class="navbar-brand" >   </a>
        <a class="navbar-brand" >   </a>
        <a class="navbar-brand" >   </a>
        <a class="navbar-brand" >   </a>
        <a class="navbar-brand" >   </a>
        <a class="navbar-brand" >   </a>
        <a class="navbar-brand" >   </a>
        <a class="navbar-brand" >   </a>
        <a class="navbar-brand" >   </a>
        <a class="navbar-brand" >   </a>
        <a class="navbar-brand" >   </a>
        <a class="navbar-brand" >   </a>
        <a class="navbar-brand" >   </a>
        <a class="navbar-brand" >   </a>
        <a class="navbar-brand" >   </a>
        <a class="navbar-brand" >   </a>
        <a class="navbar-brand" >   </a>
        <a class="navbar-brand" >   </a>
        <a class="navbar-brand" >   </a>
        <a class="navbar-brand" >   </a>
        <a class="navbar-brand" >   </a>
        <a class="navbar-brand" >   </a>
        <a class="navbar-brand" >   </a>
        <a class="navbar-brand" >   </a>
        <a class="navbar-brand" >   </a>
        <a class="navbar-brand" >   </a>
        
        
        <a class="navbar-brand" > Welcome {{username}}</a>
        <a class="navbar-brand" href="#"><span class="glyphicon glyphicon-log-in"></span></a>

</nav>
<router-outlet></router-outlet>
<div class="jumbotron" style="background:#FFE4C4">
        <div class="container">
<p>
                This project is about sending Emails and SMS using Node.js through web service. <br><br>
                How does it work?<br><br>
                         We made use of packages and few services provided by nexmo messaging server in Node.js to send emails and text messages.Nodemailer is a builtin package that comes with Node.js and nexmo is another builtin package that lets us use the sms services provided by nexmo.Intially you need to create an accont with Nexmo to use the sms services.You can use the trial version where in you will be given limited number of messages.You need to subscribe a plan to customise the message content and add your custom numbers.All the registered users can send both emails and messages using a single appliaction which is the main objective behind using UNISENDER.<br>
                    <br>

</p>
</div>
</div>