<div class="container">
    <h2 class="page-header">SEND EMAIL</h2>
    <form>
        <div class="form-group">
            <label>Sender-Email</label><br>
            <input type="text" [(ngModel)]="sender" name="sender" class="form_control" required>
        </div>

        <div class="form-group">
            <label>Sender-Password</label><br>
            <input type="password" [(ngModel)]="password" name="password" class="form_control" required>
        </div>

        <div class="form-group">
            <label>Receiver</label><br>
            <input type="text" [(ngModel)]="receiver" name="receiver" class="form_control" required>
        </div>

        <div class="form-group">
            <label>Subject</label><br>
            <input type="text" [(ngModel)]="subject" name="subject" class="form_control" required>
        </div>

        <div class="form-group">
            <label>Message</label><br>
            <textarea name="message" cols="90" rows="10" [(ngModel)]="message"></textarea>            
        </div>

        <input type="submit" class="btn btn btn-primary" value="SEND"(click)="sendEmail()">
        &nbsp;
        <input type="submit" class="btn btn btn-primary" value="MOVE-TO-MESSAGE"(click)="navigateTo()">
        &nbsp;
        <input type="submit" class="btn btn btn-danger" value="LOGOUT"(click)="logout()">


        
    </form>
</div>
